<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="home-logo"><mat-icon svgIcon="Klasha-logo" class="home-logo"></mat-icon></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="mat-list-head">Main pages</a>
      <mat-nav-list>
      <a mat-list-item class="list-item" href="#"><mat-icon svgIcon="pie-chart-logo" class="icon-logo"></mat-icon>Dashboard</a>
      <a mat-list-item class="list-item" href="#"><mat-icon svgIcon="wallet-logo" class="icon-logo"></mat-icon>Balances</a>
      <a mat-list-item class="list-item" href="#"> <mat-icon svgIcon="payments-logo" class="icon-logo"></mat-icon>Transactions</a>
      <a mat-list-item class="list-item" href="#"><mat-icon svgIcon="chart-logo" class="icon-logo"></mat-icon>Analytics</a>
      <a mat-list-item class="list-item" href="#"><mat-icon svgIcon="radar-logo" class="icon-logo"></mat-icon>Makerting </a>
      <a mat-list-item class="list-item" href="#"><mat-icon svgIcon="exchange-logo" class="icon-logo"></mat-icon>Exchange Rates</a>
    </mat-nav-list>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item class="mat-list-head">Accept payments</a>
      <mat-nav-list>
      <a mat-list-item class="list-item" href="#"><mat-icon svgIcon="shopping-cart-logo" class="icon-logo"></mat-icon>Check out</a>
      <a mat-list-item class="list-item" href="#"><mat-icon svgIcon="payment-link-logo" class="icon-logo"></mat-icon>Payment links</a>
    </mat-nav-list>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item class="mat-list-head">Send Payments</a>
      <mat-nav-list>
      <a mat-list-item class="list-item" href="#"><mat-icon svgIcon="transactions-logo" class="icon-logo"></mat-icon>Wire transfer</a>
    </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Klasha-Angular-Dashboard</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
